/* STYLES */

body {
    background: rgb(218, 197, 211);
    color:rgb(63, 16, 30);
    font-family: 'Roboto', sans-serif;
}

h1 {

    font-size: 120px;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 110px;

}

h2 {
    border: 2px solid;
    padding: 16px 24px;
    border-radius: 16px

}

main {
max-width: 600px;
margin: 0 auto;
}